@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

*, *::after, *::before {
   padding: 0;
   margin: 0;
}
html,
body {
   font-family: 'Montserrat', sans-serif;
   box-sizing: border-box;
}

.container {
   max-width: 1100px;
   margin: 0 auto;
   padding: 0 20px;
}

.main {
   padding-top: 50px;
   margin-bottom: 15px;
   font-size: 20px;
   &__container {
   }
   & h1 {
      margin-bottom: 15px;
   }
}

.city {
   border-radius: 20px;
   padding: 15px 10px;
   font-size: 16px;
   margin-bottom: 10px;
   border: 0.5px solid red;
}

.weather {
   &__container {
   }

   &__item {
      
   }
}

.item {

   &__title {
      font-size: 18px;
   }

   &__current-temp {
      font-size: 25px;
   }

   &__short-decr {

   }

   &__description {
      display: flex;
      flex-direction: column;
      font-weight: 700;
      & span {
         margin-bottom: 7px;
         &:last-child {
            margin-bottom: 0;
         }
      }
   }

   &__delete {
   }
}
